article.banner
    .space
        .space__theme
            .space__title Collection 2016
            .space__slogan Save 50% for
            .space__desc first purchase
            a.space__btn(href="#") Shop now
    ul.feature
        li.feature__item
            .feature__title Money back
            .feature__desc 30 Days Money Back Guarantee
        li.feature__item
            .feature__title Free shipping
            .feature__desc Shipping on orders over $99
        li.feature__item
            .feature__title Special sale
            .feature__desc Extra $5 off on all items
