section.fashion-sale
    ul.fashion-sale__list
        li.fashion-sale__item
            .fashion-sale__photo
                img.fashion-sale__photo-image(src="img/content/fashion-sale-1.jpg")
            .fashion-sale__desc
                .fashion-sale__year 2016
                .fashion-sale__title Fashion sale
                a.fashion-sale__link(href="#") Buy now
                .fashion-sale__note *on selected items only
        li.fashion-sale__item
            .fashion-sale__photo
                img.fashion-sale__photo-image(src="img/content/fashion-sale-2.jpg")
            .fashion-sale__desc
                .fashion-sale__year 2016
                .fashion-sale__title Fashion sale
                a.fashion-sale__link(href="#") Buy now
                .fashion-sale__note *on selected items only