section.featured-products
    .featured-products__top
        .tile-title Featured Products
        .latest-products__controls
            include ../components/_filters
            include ../components/_keys
    .latest-products__bottom
        ul.products.products_featured
            li.products__item.products__item_featured
                .products__photo.products__photo_featured
                    img.products__photo-image.products__photo-image_featured(src="img/content/featured-product-1.png")
                .product-desc
                    .product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                    img.product-desc__rating(src="img/icons/4-stars.png")
            li.products__item.products__item_featured
                .products__photo.products__photo_featured
                    img.products__photo-image.products__photo-image_featured(src="img/content/featured-product-2.png")
                .product-desc
                    .product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                    img.product-desc__rating(src="img/icons/4-stars.png")
            li.products__item.products__item_featured
                .products__photo.products__photo_featured
                    img.products__photo-image.products__photo-image_featured(src="img/content/featured-product-3.png")
                .product-desc
                    .product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                    img.product-desc__rating(src="img/icons/4-stars.png")
            li.products__item.products__item_featured
                .products__photo.products__photo_featured
                    img.products__photo-image.products__photo-image_featured(src="img/content/featured-product-4.png")
                .product-desc
                    .product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                    img.product-desc__rating(src="img/icons/4-stars.png")
            li.products__item.products__item_featured
                .products__photo.products__photo_featured
                    img.products__photo-image.products__photo-image_featured(src="img/content/featured-product-5.png")
                .product-desc
                    .product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                    img.product-desc__rating(src="img/icons/4-stars.png")
            li.products__item.products__item_featured
                .products__photo.products__photo_featured
                    img.products__photo-image.products__photo-image_featured(src="img/content/featured-product-6.png")
                .product-desc
                    .product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                    img.product-desc__rating(src="img/icons/4-stars.png")