footer.footer
    include ../components/_brands
    .footer__top
        .container
            .footer__company
                .logo Market
                    span.logo__span Supply
                .footer__about-site This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it's a cold world out there.
                .footer__address 0123 Main Road, Your City, NY 123456
                .footer__phone (000) 2345 - 6789
                .footer__email info@psdfreebies.com
            .information
                .information__title.footer-title Information
                ul.information__list
                    li.information__item
                        a.information__link(href="#") Our Story
                    li.information__item
                        a.information__link(href="#") Privacy & Policy
                    li.information__item
                        a.information__link(href="#") Terms & Conditions
                    li.information__item
                        a.information__link(href="#") Shipping & Delivery
                    li.information__item
                        a.information__link(href="#") Careers
                    li.information__item
                        a.information__link(href="#") FAQs
            .socials
                .social__title.footer-title Our social
                .socials__columns
                    .socials__left
                        ul.socials__list
                            li.socials__item.socials__item_google
                                a.socials__link(href="#") Google+
                            li.socials__item.socials__item_pinterest
                                a.socials__link(href="#") Pinterest
                            li.socials__item.socials__item_vimeo
                                a.socials__link(href="#") Vimeo
                            li.socials__item.socials__item_instagram
                                a.socials__link(href="#") Instagram
                    .socials__right
                        ul.socials__list
                            li.socials__item.socials__item_facebook
                                a.socials__link(href="#") Facebook
                            li.socials__item.socials__item_twitter
                                a.socials__link(href="#") Twitter
                            li.socials__item.socials__item_rss
                                a.socials__link(href="#") RSS
                            li.socials__item.socials__item_youtube
                                a.socials__link(href="#") YouTube
            .footer__extra
                .time
                    .time__title.footer-title Opening time
                    .time__weekday Monday - Friday: 08:30 am - 09:30 pm
                    .time__dayoff Sat - Sun: 09:00 am - 10:00 pm
                .footer__payment
                    .time-title.footer-title Payment option
                    img.footer__payment-image(src="img/icons/payment.png")
    .footer__bottom
        .container
            ul.site-links
                li.site-links__item
                    a.site-links__link(href="#") Sitemap
                li.site-links__item
                    a.site-links__link(href="#") Searchs
                li.site-links__item
                    a.site-links__link(href="#") Searchs
                li.site-links__item
                    a.site-links__link(href="#") Advance
                li.site-links__item
                    a.site-links__link(href="#") Searchs
                li.site-links__item
                    a.site-links__link(href="#") Contact us
            .footer__copyright &copy; 2016 PSDFreebies.com | All rights reserved.