aside.deal.deal_hot
    .deal__top
        h2.tile-title Hot Deals
        include ../components/_keys
    .deal__middle
        img.deal__photo(src="img/content/hot-deals.png" alt="Hot deals")
    .product-desc
        h5.product-desc__name Lorem ipsum dolor
        .product-desc__price
            .product-desc__price-old $100.00
            .product-desc__price-current $90.00
        img.product-desc__rating(src="img/icons/4-stars.png" alt="4 stars rating")