aside.deal.deal_hot
    .deal__top
        .tile-title Hot Deals
        .keys
            .keys__prev
            .keys__next
    .deal__middle
        img.deal__photo(src="img/content/hot-deals.png")
    .deal__bottom
        .deal__product-name Lorem ipsum dolor
        .deal__price
            .deal__price-old $100.00
            .deal__price-current $90.00
        img.deal__rating(src="img/icons/4-stars.png")