section.latest-products
    .latest-products__top
        h2.tile-title Latest Products
        .latest-products__controls
            include ../components/_filters
            include ../components/_keys
    .latest-products__bottom
        ul.products
            li.products__item
                .products__photo
                    img.products__photo-image(src="img/content/latest-product-1.png" alt="Latest product 1")
                .product-desc
                    h5.product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                img.product-desc__rating(src="img/icons/4-stars.png" alt="4 stars rating")
            li.products__item
                .products__photo
                    img.products__photo-image(src="img/content/latest-product-2.png" alt="Latest product 2")
                .product-desc
                    h5.product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                img.product-desc__rating(src="img/icons/4-stars.png" alt="4 stars rating")
            li.products__item
                .products__photo
                    img.products__photo-image(src="img/content/latest-product-3.png" alt="Latest product 3")
                .product-desc
                    h5.product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                img.product-desc__rating(src="img/icons/4-stars.png" alt="4 stars rating")
            li.products__item
                .products__photo
                    img.products__photo-image(src="img/content/latest-product-4.png" alt="Latest product 4")
                .product-desc
                    h5.product-desc__name Lorem ipsum dolor
                    .product-desc__price
                        .product-desc__price-old $100.00
                        .product-desc__price-current $90.00
                img.product-desc__rating(src="img/icons/4-stars.png" alt="4 stars rating")