aside.newsletter
    .newsletter__title
        h2.tile-title.tile-title_newsletter Newsletters
    form.sign-up
        label.sign-up__desc Sign Up for Our Newsletter!
        input.sign-up__email(name="email" placeholder="")
        input.sign-up__btn(type="submit" value="Subscribe")
