aside.deal.deal_special
    .deal__top
        h2.tile-title Special Deal
        include ../components/_keys
    .deal__middle
        img.deal__photo(src="img/content/special-deal.png" alt="Special deal")
    .product-desc
        h5.product-desc__name Lorem ipsum dolor
        .product-desc__price
            .product-desc__price-old $100.00
            .product-desc__price-current $90.00
        img.product-desc__rating(src="img/icons/4-stars.png" alt="4 stars rating")