section.main
    .container
        .main__left
            include ../components/_categories
            include ../parts/_hot-deals
            include ../parts/_special-deal
            include ../parts/_newsletter
            include ../components/_left-banner
        .main__right
            include ../parts/_banner
            include ../parts/_new-products
            include ../parts/_fashion-sale
            include ../parts/_latest-products
            include ../parts/_banner-2
            include ../parts/_featured-products