section.main
    .container
        .main__left
            include ../components/_categories
            include ../parts/_hot-deals
            include ../parts/_special-deal
        .main__right
            include ../parts/_banner