.filters {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  max-width: 370px;
  margin-right: 20px;

  &__item {
    margin-right: 25px;
    font-size: 15px;
    line-height: 3.33;
    font-family: Lato;
    font-weight: 400;
    color: #3d3d3d;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}