.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 50px;

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {

    &:last-child {

      .nav__link {
        margin-right: 0;
      }
    }
  }

  &__link {
    display: block;
    margin-right: 35px;
    padding: 0 10px;
    font-size: 15px;
    line-height: 3.33;
    font-family: Lato;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;

    &:hover {
      background: darken(#f10e34, 10%);
    }
  }
}

.categories-title {
  position: relative;
  width: 275px;
  padding-left: 57px;
  margin-right: 50px;
  font-size: 15px;
  line-height: 3.33;
  font-family: Lato;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    top: 18px;
    left: 24px;
    width: 16px;
    height: 13px;
    background-image: url("../img/icons/header.png");
    background-repeat: no-repeat;
    background-position: -75px -20px;
  }
}