ul.categories
    li.categories__item
        a.categories__link(href="#") Clothing
    li.categories__item
        a.categories__link(href="#") Electronics
    li.categories__item
        a.categories__link(href="#") Shoes
    li.categories__item
        a.categories__link(href="#") Watches
    li.categories__item
        a.categories__link(href="#") Jewellery
    li.categories__item
        a.categories__link(href="#") Health and Beauty
    li.categories__item
        a.categories__link(href="#") Kids and Babies
    li.categories__item
        a.categories__link(href="#") Sports
    li.categories__item
        a.categories__link(href="#") Home and Garden