nav.nav
    .nav__categories Categories
    ul.nav__list
        li.nav__item
            a.nav__link(href="#") Clothing
        li.nav__item
            a.nav__link(href="#") Electronics hot
        li.nav__item
            a.nav__link(href="#") Health & Beauty
        li.nav__item
            a.nav__link(href="#") Watches
        li.nav__item
            a.nav__link(href="#") Jewellery
        li.nav__item
            a.nav__link(href="#") Shoes