.space {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 375px;
  background: url(../img/bg/banner.jpg) center center / cover;

  &__theme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    line-height: 1;
    font-family: Lato;
    color: #fff;
    text-transform: uppercase;
  }

  &__title {
    font-size: 38px;
    font-weight: 700;
    color: #303a7a;
  }

  &__slogan {
    margin-bottom: 5px;
    font-size: 60px;
    font-weight: 700;
  }

  &__desc {
    margin-bottom: 50px;
    font-size: 24px;
  }

  &__btn {
    display: block;
    padding: 0 17px 0 24px;
    font-size: 18px;
    line-height: 2.11;
    color: #000;
    border: 2px solid #000;

    &:hover {
      background: #f10e34;
    }
  }
}

.feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 79px;
  margin-bottom: 33px;
  background: #f10e34;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    line-height: 1.2;
    font-family: Lato;
    color: #fff;
  }

  &__title {
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 1.8px;
    text-transform: uppercase;
  }
}
